@import url("variables.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  font-family: var(--primary-font-family);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-m);
  background: var(--primary-bg);
}

.logo {
  width: 3rem;
}

.input {
  border: none;
  border-bottom: 2px solid var(--accent-bg);
  font-size: var(--font-size-m);
  background: inherit;
}

.nav {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.nav-link {
  color: var(--primary-color);
  text-shadow: var(--box-shadow-l) var(--accent-bg);
}

.banner {
  background-image: url("../public/images/banner.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-m);
}

.pointer-left,
.pointer-right {
  background-color: black;
  padding: var(--padding-s);
  font-size: var(--font-size-xl);
  color: var(--primary-color);
}

.content {
  display: flex;
  padding: var(--padding-m);
}

.sidebar {
  width: 25%;
  padding-right: var(--padding-xl);
}

.image {
  width: 23rem;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.table-cell {
  display: flex;
  justify-content: space-between;
}

.banner {
  position: relative;
  left: 0;
  /* animation: showElement 550ms ease-in ; */
}

.footer {
  padding: var(--padding-s);
  background: var(--third-bg);
  color: var(--primary-color);
}

.light {
  background: var(--light-bg);
  color: var(--attention-color);
}

.footer__row {
  padding: var(--padding-s) var(--padding-m);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.map-wrapper {
  height: 7rem;
  width: 30%;
}

.footer__logo {
  width: 5rem;
}

.footer__nav {
  display: flex;
}

.footer__nav > .nav-link {
  color: inherit;
  text-shadow: none;
  font-size: calc(var(--font-size-s) + 0.1rem);
  padding: calc(var(--padding-s) - 0.2rem);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  margin-left: var(--margin-s);
  transition: var(--primary-transition);
  font-weight: 600;
}

.light > .footer__row > .footer__nav > .nav-link {
  border: 1px solid var(--attention-color);
}

.footer__nav > .nav-link:hover {
  background: var(--fourth-bg-light);
}

.footer__nav > .nav-link:first-child {
  margin-left: 0;
}

.links {
  display: flex;
}

.network {
  color: inherit;
  font-size: var(--font-size-l);
  margin-left: var(--margin-s);
  transition: var(--primary-transition);
}

.network:hover {
  color: var(--fourth-bg);
  animation: animation var(--secondary-transition);
  animation-iteration-count: 1;
}

@keyframes animation {
  10% {
    transform: translateY(2px);
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
